body {
    font-family: monospace;
    font-size: 2em;
    text-align: center;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


div,
span {
    padding: .25em;
}

span {
    border-radius: 0.25em;
}

hr {
    border-style: unset;
    border-top: 1px solid lightgray;
}

.special {
    background-color: whitesmoke;
    user-select: none;
}

.special,
.word-option {
    border-radius: 0.25em;
}

#word-options {
    height: 215px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.word-option:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

input {
    border: 1px solid lightgray;
    border-radius: 0.25em;
    padding: .25em;
    font: unset;
    margin: .25em 0;
}

input[type="submit"],
input[type="button"] {
    border-color: whitesmoke;
    background-color: whitesmoke;
    cursor: pointer;
}


#leaderboard {
    width: 100%;
}

.td-name, 
.td-word, 
.td-i {
    text-align: left;
}

#leaderboard .td-clicks {
    text-align: right;
}

tr:nth-child(even) {
    background-color: whitesmoke;
}

table {
    border-collapse: collapse
}




.loader {
    border: 2px solid lightgray;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 2px solid gray;
    border-radius: 50%;
    width: 2em;
    height: 2em;
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}